body {
  margin: 0;
  font-family: Arial;
  background: #e9f3ff;
  color: #222;
}

nav {
  background: #145da0;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}

section {
  padding: 20px;
}

img {
  width: 120px;
  height: auto;
  margin: 8px;
  border-radius: 6px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #145da0;
  color: #fff;
}
